<section>
  <h2>About Me</h2>
  <p>I'm Justin Gordon, a Ruby on Rails consultant based in Maui. Full stack
  development is my passion. Feel free to contact me
  at <a href='mailto:justin@railsonmaui.com'>justin@railsonmaui.com</a>.
  Read more <a href='http://www.railsonmaui.com/about'>about me</a>.
  Find me on <a href='http://www.linkedin.com/pub/justin-gordon/1/a41/286'>Linked In</a>
  and <a href='https://www.facebook.com/railsonmaui'>Facebook</a> and
  <a href="https://github.com/justin808/">github.com/justin808</a>.
  </p>
</section>
