<section>
  <h2>About Me</h2>
  <p>I'm Justin Gordon, a Ruby on Rails + ReactJs consultant based in Maui. Full
    stack development is my passion. My company has evolved. Please see our story:
    <a href="http://www.shakacode.com/2015/09/17/who-is-shaka-code.html">Who is ShakaCode?</a>
  </p>
  <p>
  Feel free to contact me
  at <a href='mailto:justin@shakacode.com'>justin@shakacode.com</a>. Read
  more <a href='http://www.shakacode.com/about'>about me</a>. Find me
  on <a href='https://www.linkedin.com/in/railsonmaui'>Linked In</a>
  and <a href='https://www.facebook.com/railsonmaui'>Facebook</a> and
  <a href="https://github.com/justin808/">github/justin808</a>.
  </p><p>
  FYI, I'm doing many more micro-blog articles on
  the <a href="http://forum.shakacode.com">Rails on Maui Forum</a>.
  I do my best to be sure every question gets
  answered. If you join, you can get periodic updates of recent topics.
  </p><p>
  Want to partner on remote telecommuting for Rails + ReactJs projects? You need
  passion and skills. <a href=http://forum.shakacode.com/t/railsonmaui-is-hiring-and-partnering-part-time-remote-is-ok/156>Click here</a>.
  </p>
</section>
