---
layout: post
title: "Simple Form and Disabling Buttons on Submit by Default"
date: 2014-02-23 21:43
comments: true
categories: [rails, simple-form]
keywords: simple_form, rails, disable_processing
description: Fixing RecordNotUnique errors by turning on disable_with by default for all submit buttons using simple_form.
canonical: https://www.shakacode.com/blog/simple-form-and-disable-processing-by-default/
---

<div id="outline-container-sec-1" class="outline-2">
<h2 id="sec-1">TLDR</h2>
<div class="outline-text-2" id="text-1">
<p>
Here's an easy way to have all your SimpleForm submit buttons default to setting
<code>data-disable-with</code> so that you don't get errors when users double click on
submit buttons. If you've gotten a few <code>ActiveRecord::RecordNotUnique</code> errors
that were hard to reproduce, then here's your solution, with our without
SimpleForm. Additionally, using <code>data-disable-with</code> provides the user with nice
feedback once a button is clicked.
</p>
</div>
</div>
<div id="outline-container-sec-2" class="outline-2">
<h2 id="sec-2">ActiveRecord::RecordNotUnique Error!</h2>
<div class="outline-text-2" id="text-2">
<p>
If you're using Devise, and you get a <code>ActiveRecord::RecordNotUnique</code> error when
a new user is signing up, where do you look?
</p>

<pre class="example">
An ActiveRecord::RecordNotUnique occurred in registrations#create:

PG::UniqueViolation: ERROR: duplicate key value violates unique constraint
"index_users_on_email" DETAIL: Key (email)=(somebody@yahoo.com) already
exists. : INSERT INTO "users" ("address", "city", "confirmation_sent_at",
"confirmation_token", "created_at", "default_location_id", "email",
"encrypted_password", "first_name", "last_name", "mobile", "role", "state",
"updated_at", "zip_code") VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11,
$12, $13, $14, $15) RETURNING "id"
</pre>

<p>
At first, I was concerned that my unique index on my users table is not case
insensitive. I started going down the road of converting my normal unique index
on users.email to this index:
</p>

{% codeblock lang:sql %}
CREATE UNIQUE INDEX users_email_ci_idx ON users ((lower(email)));
{% endcodeblock %}

<p>
However, I soon figured out that Devise was already always saving email in the
database in lower case via a <code>before_validation</code> hook.
</p>

<p>
So then I tried to double click the <code>SAVE</code> button, and, <b>BOOM</b>, I got the same error.
</p>

<!-- more -->
</div>
</div>
<div id="outline-container-sec-3" class="outline-2">
<h2 id="sec-3">data-disable-with='Processing&#x2026;'</h2>
<div class="outline-text-2" id="text-3">
<p>
A little bit of googling quickly revealed some handy rails techniques disabling
a submit button after being clicked, namely the setting of attribute
data-disable-with: "Some Message&#x2026;" on both links and buttons. This works
nicely to fix the double submit RecordNotUnique error, and it provides some
sweet user feedback upon clicking a button. Here's an example of a <code>SAVE</code> button.
</p>

<p>
{% img /images/2014-02-23-simple-form-and-disable-processing-by-default/button-before-clicking.jpg %}
</p>

<p>
Immediately after clicking the <code>SAVE</code> button, the button disables and the text changes.
</p>

<p>
{% img /images/2014-02-23-simple-form-and-disable-processing-by-default/button-disabled.jpg %}
</p>
</div>

<div id="outline-container-sec-3-1" class="outline-3">
<h3 id="sec-3-1">Buttons</h3>
<div class="outline-text-3" id="text-3-1">
<p>
Example and API: <a href="http://api.rubyonrails.org/classes/ActionView/Helpers/FormTagHelper.html#method-i-button_tag">button_tag</a>
</p>
{% codeblock lang:html %}
<%= button_tag "Checkout", data: { disable_with => "Please wait..." } %>
{% endcodeblock %}
</div>
</div>
<div id="outline-container-sec-3-2" class="outline-3">
<h3 id="sec-3-2">Links</h3>
<div class="outline-text-3" id="text-3-2">
<p>
Example and API: <a href="http://apidock.com/rails/ActionView/Helpers/UrlHelper/link_to?q=link_to">link_to</a>
</p>
{% codeblock lang:html %}
<%= link_to "Profile", profile_path(@profile), data: { disable_with: "Processsing..." } %>
{% endcodeblock %}
</div>
</div>
<div id="outline-container-sec-3-3" class="outline-3">
<h3 id="sec-3-3">SimpleForm Submit Buttons</h3>
<div class="outline-text-3" id="text-3-3">
<p>
Even better, this can be done in one place for all SimpleForm submit buttons!
</p>

<p>
In a file like <code>config/simple_form.rb</code>, place this initialization code:
</p>

{% codeblock lang:ruby %}
SimpleForm::FormBuilder.class_eval do
  def submit_with_override(field, options = {})
    data_disable_with = { disable_with: 'Processing...' }
    options[:data] = data_disable_with.merge(options[:data] || {})
    submit_without_override(field, options)
  end
  alias_method_chain :submit, :override
end
{% endcodeblock %}

<p>
What the bit of code above does is that it:
</p>
<ol class="org-ol">
<li>Opens up the FormBuilder class to add a method <code>submit_with_override</code>.
</li>
<li>Modifies options hash's :data element, setting a default value for key
<code>disable_with</code> that will not apply if there's already a value there, thus
allowing the default to be overridden by any individual button.
</li>
<li>Calls <a href="http://apidock.com/rails/Module/alias_method_chain">alias_method_chain</a> which makes is so that a call to submit actually
calls <code>submit_with_override</code> and that method can call
<code>submit_without_override</code>, which is the original <code>submit</code> method. The pattern
of naming the methods <code>with_override</code> and <code>without_override</code> is part of the
<code>alias_method_chain</code> call. Pretty darn cool!
</li>
</ol>

<p>
Here's a sample sign-up form that overrides the default "Processing&#x2026;" label
when the <code>SAVE</code> button is clicked.
</p>

{% codeblock lang:haml %}
.box.clearfix.box-last
  = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: ""}  do |f|
    = f.error_notification
    = f.input :first_name, required: false, autofocus: true, label_html: { class: "label-required"}, input_html: {class: ".col-md-4" }
    = f.input :last_name, required: false, label_html: { class: "label-required"}, input_html: {class: ".col-md-4" }
    = f.input :email, required: false, label_html: { class: "label-required"}, input_html: {class: ".col-md-4" }
    = f.button :submit, "SAVE", class: "submit", data: { disable_with: "Creating New Account..." }
{% endcodeblock %}

<p>
Now go and click on some of your submit buttons, and they will all disable and
display "Processing&#x2026;". On a remote form that returned <code>js.erb</code>, I had to send
back this line to reset the submit button:
</p>

{% codeblock lang:javascript %}
$("#js-some-button").removeAttr("disabled").attr('value', 'ORIGINAL BUTTON TEXT');
{% endcodeblock %}
</div>
</div>
</div>
<div id="outline-container-sec-4" class="outline-2">
<h2 id="sec-4">References</h2>
<div class="outline-text-2" id="text-4">
<p>
Stack Overflow Discussions:
</p>
<ol class="org-ol">
<li><a href="http://stackoverflow.com/questions/11505801/prevent-double-submits-in-a-rails-ajax-form/20161880">Prevent Double Clicks in Rails Ajax Form</a>
</li>
<li><a href="http://stackoverflow.com/questions/11340843/default-disable-with-for-simple-form-submit/11610795#11610795">Default Disable With for Simple Form</a>
</li>
<li><a href="http://stackoverflow.com/questions/3160204/in-rails-controllers-how-to-prevent-double-submit-when-user-double-clic-submit">How to Prevent Double Submit in Rails</a>
</li>
</ol>
</div>
</div>
